DISCOVERY_URL
private_ip.*
public_ip.*
*.key
*.pub
*.pem
*.csr
cfssl/certs/*.pem
cfssl/certs/*.csr
cfssl/certs/*.json
moduli.*
ssh/ssh_*
tmp-master.yml
tmp-node.yml
target-node.yml
target-master.yml
private_ip_file.tmp
